.col1 {
  width: 12.66667%;
  padding: 0 1%;
  margin: 0 1%;
  float: left; }

.col2 {
  width: 29.33333%;
  padding: 0 1%;
  margin: 0 1%;
  float: left; }

.col3 {
  width: 46%;
  padding: 0 1%;
  margin: 0 1%;
  float: left; }

.col4 {
  width: 62.66667%;
  padding: 0 1%;
  margin: 0 1%;
  float: left; }

.col5 {
  width: 79.33333%;
  padding: 0 1%;
  margin: 0 1%;
  float: left; }

.col6 {
  width: 96%;
  padding: 0 1%;
  margin: 0 1%;
  float: left; }
