.inicio_nos, .nosotros_nos, .departament {
  background-color: #e2e2da; }

.inicio_nos {
  overflow: hidden;
  max-width: 100%; }

.nosotros_nos {
  max-width: 100%;
  padding: 2em 0;
  line-height: 1.5em; }
  .nosotros_nos h2 {
    text-align: center;
    padding: 1em; }
  .nosotros_nos p {
    padding: 0 7%; }

.departament {
  max-width: 100%;
  height: auto;
  overflow: hidden; }

.triangulos::before {
  display: none; }

.foto {
  margin: 0 auto;
  padding: 2em 2% 6em; }

#grafico, #develop, #marketing, #bbdd {
  background: url(http://placehold.it/300x350);
  width: 300px;
  height: 350px;
  margin: 0 auto;
  padding: 0;
  text-align: center; }

#grafico_b, #develop_b, #marketing_b, #bbdd_b {
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  height: 350px;
  visibility: hidden; }
  #grafico_b h4, #develop_b h4, #marketing_b h4, #bbdd_b h4 {
    padding: 1em 0;
    font-size: 1.3em; }
  #grafico_b h5, #develop_b h5, #marketing_b h5, #bbdd_b h5 {
    font-size: 1em; }
  #grafico_b p, #develop_b p, #marketing_b p, #bbdd_b p {
    margin-top: 4em; }
  #grafico_b .conecta, #develop_b .conecta, #marketing_b .conecta, #bbdd_b .conecta {
    margin-top: 4em; }
    #grafico_b .conecta .fa-twitter-square, #develop_b .conecta .fa-twitter-square, #marketing_b .conecta .fa-twitter-square, #bbdd_b .conecta .fa-twitter-square {
      color: #00bdf5; }
    #grafico_b .conecta .fa-linkedin-square, #develop_b .conecta .fa-linkedin-square, #marketing_b .conecta .fa-linkedin-square, #bbdd_b .conecta .fa-linkedin-square {
      color: #0072b2; }
    #grafico_b .conecta .fa-google-plus-square, #develop_b .conecta .fa-google-plus-square, #marketing_b .conecta .fa-google-plus-square, #bbdd_b .conecta .fa-google-plus-square {
      color: #dd4c39; }
    #grafico_b .conecta .fa-facebook-square, #develop_b .conecta .fa-facebook-square, #marketing_b .conecta .fa-facebook-square, #bbdd_b .conecta .fa-facebook-square {
      color: #3b5998; }

#grafico:hover #grafico_b {
  visibility: visible; }

#develop:hover #develop_b {
  visibility: visible; }

#marketing:hover #marketing_b {
  visibility: visible; }

#bbdd:hover #bbdd_b {
  visibility: visible; }
